[submodule "src/apriltag_msgs"]
	path = src/apriltag_msgs
	url = git@github.com:christianrauch/apriltag_msgs.git
[submodule "src/opennav_docking"]
	path = src/opennav_docking
	url = https://github.com/open-navigation/opennav_docking.git
	branch = humble
[submodule "src/apriltag_ros"]
	path = src/apriltag_ros
	url = git@github.com:christianrauch/apriltag_ros.git
[submodule "src/apriltag"]
	path = src/apriltag
	url = git@github.com:AprilRobotics/apriltag.git
